body{
    background-color: #212121;
}

#oshawott{
    display: block;
    margin: auto;
    width: 50%;
}
table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#labels{
    background-color: #1D2A35;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #FFFFFF;
}

tr:nth-child(odd) {
    background-color: #303030;
}


h1{
    font-size: 35px;
    font-family: arial, sans-serif;
    font: bold;
    text-align: center;
    color: #FFFFFF;
}

p{
    font-size: 20px;
    font-family: arial, sans-serif;
    color: #FFFFFF;
    width: 100%;
    display: block;
}

h2{
    font-size: 25px;
    font-family: arial, sans-serif;
    color: #FFFFFF;
}

.hobbies{
    font-family: arial, sans-serif;
    color: #FFFFFF;
}

a{
    font-family: arial, sans-serif;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #303030;
}

#button{
    margin: auto;
    width: 20%;
    border: 4px solid #38444D;
    padding: 10px;
    background-color: #C1C1C1;
}
#github{
    margin: auto;
    margin-top: 50px;
    width: 20%;
    border: 4px solid #38444D;
    padding: 10px;
    background-color: #C1C1C1;
}
#github:hover{
    margin: auto;
    margin-top: 50px;
    width: 20%;
    border: 4px solid #C1C1C1;
    padding: 10px;
    background-color: #38444D;
}

#button:hover{
    margin: auto;
    width: 20%;
    border: 4px solid #C1C1C1;
    padding: 10px;
    background-color: #38444D;
}


#textInput {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 50%;
    text-align: center;
}

#updateButton {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: #C1C1C1;
    border: 2px solid #38444D;
    cursor: pointer;
}

#updateButton:hover {
    background-color: #38444D;
    color: white;
}

#container{
    position: relative;
    text-align: center;
    color: white;
}