body {
    background-color: #212121;
}

img {
    display: block;
    margin: auto;
}

.btn-outline-light,
.btn-outline-primary {
    width: 50%;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
}


.table {
    text-align: center;
    color: #ffffff;
}

.table-primary {
    background-color: #1D2A35 !important;
}


.input-group {
    margin: auto;
}

.list-group-item {
    background-color: #212121 !important;
    color: white !important;
    border: 1px solid #444;
}